<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
   <link
          href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
          rel="stylesheet"
  />
</head>
<body>
<h2>Forgot Password</h2>
<form action="#" th:action="@{/main/forgot-password-sc}" th:object="${emailUser}" method="post">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" th:field="*{email}" required>
  <button type="submit">Submit</button>
</form>
<p th:text="${message}"></p>
</body>
</html>
